header{
	height: 477px;
	margin-bottom: 60px;
}
#allmap{
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.company p{
	text-indent:60px;
	font-size: 30px;
	line-height: 50px;
	color: #4f4f4f;
}
.company-h{
	border: solid 1px #ef883c;
	height: 128px;
	margin-bottom: 57px;
}
.company-h-t{
	padding-top: 20px;
	height: 92px;
	margin: 8px;
	background: url(../img/n-nav.png) no-repeat center;
}
.company-h-t b{
	font-size:37px ;
	color: #FFFFFF;
	font-weight: bold;
}
.company-h-t span{
	color: #f9c7a2;
	font-size: 17px ;
}
.company-c{
	overflow: hidden;
}
.picl{
	height: 528px;
	width: 566px;
}
.picr{
	width: 124px;
	height: 508px;
	margin-top: 20px;
	background: url(../img/n-right.png) no-repeat;
	background-size:149px 504px;
	background-position:-25px 0px;
}
.picr h3{
    margin-left: 60px;
    width: 30px;
    font-size: 30px;
    color: #ff7000;
    line-height: 35px;
    margin-top: 35px;
    margin-bottom: 20px;
}
.picr span{
	margin-left: 52px;
    font-size: 20px;
}
.foot{
	margin: 50px 0;
}
.end{
	width: 118px;
	height: 28px;
	color:#f2b68b ;
	font-size: 23px;
	padding: 55px 0;
	background: url(../img/n-end_03.png) no-repeat center;
}
