<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<title>评估申请</title>
		<link rel="stylesheet" type="text/css" href="../../css/pinggu_sq/chakan.css"/>
	</head>
	<body>
		<header class="positionR colorF height7">
			<img src="../../img/pinggu_sq/03.png" onclick="window.history.go(-1)"/>
			<div class="height30"></div>
			<div class="textC font1-4">评估申请</div>
		</header>
		<div id="main" class="Mauto height90 radius10P">
			<div class="top font1-4">
				<p class="PT10 PL20 PB10"><img class="headimg radius50 verticlM" src="../../img/pinggu_sq/head-img.jpg"/> 申请人：{{name}} <img class="sex" src="../../img/pinggu_sq/07.png" v-if="sex == '女'"/><img class="sex" src="../../img/pinggu_sq/08.png" v-else/></p>
			</div>
			<div class="list">
				<div class="fenjie positionR">
					<div class="zuoyuan radius50"></div>
					<div class="youyuan radius50"></div>
				</div>
				<ul class="">
					<li class="overflowH PT10" v-for="(item, index) in items">
						<div class="fl width5 height10p"></div>
						<div class="fl width10 left">
							<img src="../../img/pinggu_sq/102.png" v-if="index <= response.workStatus-1"/>
							<img src="../../img/pinggu_sq/103.png" v-else/>
						</div>
						<div class="fl right width80 font1-2 colorC">
							<div v-if="index <= response.workStatus-1">
								<div class="yiwan font1-4">{{item.status}} <img class="fr" src="../../img/pinggu_sq/104.png" @click="qiangqing(index)"/></div>
								<div v-if="index == 0">
									<p class="LH3">(评估但提交成功，等待受理)</p>
									<p class="LH3">{{response.applicationTime}}</p>
								</div>
								<div v-if="index == 1">
									<p class="LH3">(评估单已受理，等待评估人员上门评估)</p>
									<p class="LH3">{{response.acceptTime}}</p>
								</div>
								<div v-if="index == 2">
									<p class="LH3">评估员： 上门评估</p>
									<p class="LH3">{{response.assessTime}}</p>
								</div>
								<div v-if="index == 3">
									<p class="LH3">（评估单已生产，等待确认）</p>
									<p class="LH3">{{response.assessConfirmTime}}</p>
								</div>
								<div v-if="index == 4">
									<p class="LH3">（结果确认已经生成，等待最后确认）</p>
									<p class="LH3">{{response.assessConfirmTime}}</p>
								</div>
								
							</div>
							<div v-else>
								<div>{{item.status}}</div>
								<div class="PB10">......</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
			<!--弹窗-->
			<div class="tanchang width100 height100" v-if="tcshow">
				<div class="center width90 height40 radius10P positionR" v-if="shownum == 0">
					<img class="headimg radius50" src="../../img/pinggu_sq/head-img.jpg"/>
					<img class="headimgbg" src="../../img/pinggu_sq/110.png"/>
					<div class="top width95 Mauto"></div>
					<div class="jianjie font1-4 PL20 LH2">
						<p>申请人姓名<span>王妮</span>    年龄：</p>
						<p>联 系 电 话</p>
						<p>联 系 卡 号</p>
						<p>待服务地点：</p>
						
					</div>
					<div class="but width80 colorF radius10P LH3 textC Mauto font1-4" @click="shownum=null;tcshow=false">确定</div>
				</div>
				<div class="center2 width90 height40 radius10P positionR" v-if="shownum == 1">
					<img class="headimg radius50" src="../../img/pinggu_sq/head-img.jpg"/>
					<img class="headimgbg" src="../../img/pinggu_sq/110.png"/>
					<div class="top width95 Mauto"></div>
					<div class="jianjie font1-4 PL20 LH2">
						<p>受理人姓名：</p>
						<p>受理地址：</p>
						<p>受理机构：</p>
					</div>
					<div class="but width80 colorF radius10P LH3 textC Mauto font1-4" @click="shownum=null;tcshow=false">确定</div>
				</div>
				<div class="center3 width90 height40 radius10P positionR" v-if="shownum == 2">
					<img class="headimg radius50" src="../../img/pinggu_sq/head-img.jpg"/>
					<img class="headimgbg" src="../../img/pinggu_sq/110.png"/>
					<div class="top width95 Mauto"></div>
					<div class="jianjie font1-4 PL20 LH2">
						<p>派单人姓名：<span>证阿鲁</span>  工号：</p>
						<p>评 估 时 间：</p>
						<p>评 估 地 点：</p>
					</div>
					<div class="but width80 colorF radius10P LH3 textC Mauto font1-4" @click="shownum=null;tcshow=false">确定</div>
				</div>
				<div class="center4 width90 height70 radius10P positionR" v-if="shownum == 3">
					<img class="headimg radius50" src="../../img/pinggu_sq/head-img.jpg"/>
					<img class="headimgbg" src="../../img/pinggu_sq/110.png"/>
					<div class="top width95 Mauto"></div>
					<div class="jianjie font1-2 PL20 LH1-5">
						<p class="font1-4">评估确认</p>
						<p>时间：  工号：</p>
						<p>地点：</p>
						<p>签到：</p>
						<p>签出：</p>
						<p class="font1-4">服务评价：</p>
						<ul class="overflowH PT10">
							<li v-for="n in 5" class="fl PL20" @click="pingjiadj(n)">
								<img src="../../img/pinggu_sq/112.png" v-if="level >= n"/>
								<img src="../../img/pinggu_sq/113.png" v-else/>
							</li>
							<!--<li class="fl PL20"><img src="../../img/pinggu_sq/112.png"/></li>
							<li class="fl PL20"><img src="../../img/pinggu_sq/112.png"/></li>
							<li class="fl PL20"><img src="../../img/pinggu_sq/112.png"/></li>
							<li class="fl PL20"><img src="../../img/pinggu_sq/112.png"/></li>
							<li class="fl PL20"><img src="../../img/pinggu_sq/112.png"/></li>-->
						</ul>
						<p class="font1-4 PB20">评价内容</p>
						
					</div>
					<div class="neirong width80 font1-2 Mauto radius5P">
						<textarea class="width100 height100" name="" rows="" cols=""></textarea>
					</div>
					<div class="but width80 colorF radius10P LH3 textC Mauto font1-4" @click="shownum=null;tcshow=false">确定</div>
				</div>
				<div class="center5 width90 height30 radius10P positionR" v-if="shownum == 4">
					<img class="headimg radius50" src="../../img/pinggu_sq/115.png"/>
					<img class="headimgbg" src="../../img/pinggu_sq/110.png"/>
					<div class="top width95 Mauto"></div>
					<div class="jianjie PL20 ">
						<p class="font1-4 LH2 textC">您的评估申请<span>已通过</span></p>
						<p class="font1-4 LH2 textC">请领取您的评估结论报告书</p>
					</div>
					<div class="butt width100 textC font1-4 colorF LH3" @click="shownum=null;tcshow=false">
						确认
					</div>
				</div>
				<div class="center6 width90 height30 radius10P positionR" v-if="shownum == 9">
					<img class="headimg radius50" src="../../img/pinggu_sq/114.png"/>
					<img class="headimgbg" src="../../img/pinggu_sq/110.png"/>
					<div class="top width95 Mauto"></div>
					<div class="jianjie PL20 ">
						<p class="font1-4 LH1-5 textC">您的评估申请<label>未通过</label></p>
						<p class="font1-4 LH1-5 textC">如有疑问请申请复议</p>
						<p class="font1-4 LH1-5 textC">没有疑问请点击确认</p>
					</div>
					<div class="butt width100 textC font1-4 colorF LH3 overflowH">
						<div class="fuyi fl width50 textC font1-4 colorF LH3">
							复议
						</div>
						<div class="fr width50 textC font1-4 colorF LH3" @click="shownum=null;tcshow=false">
							确认
						</div>
					</div>
				</div>
			</div>
		</div>
		<script src="../../js/vue.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/jquery-1.7.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/common.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/pinggu_sq/chakan.js" type="text/javascript" charset="utf-8"></script>
	</body>
</html>
