<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<title>评估申请</title>
		<link rel="stylesheet" type="text/css" href="../../css/pinggu_sq/shenqing.css"/>
	</head>
	<body>
		<header class="positionR colorF height7">
			<img src="../../img/pinggu_sq/03.png" onclick="window.history.go(-1)"/>
			<div class="height30"></div>
			<div class="textC font1-4">评估申请</div>
		</header>
		<div id="main">
			<div class="top">
				<img class="radius50 fl" src="../../img/pinggu_sq/head-img.jpg"/>
				<div class="fl colorF font1-2 PL10">
					<p>【证阿鲁】岁</p>
					<p> &nbsp;身 份 证：23243</p>
				</div>
			</div>
			<div class="dizhi PT10">
				<p class="font1-4 verticlM ML20 MR20 LH3"><img src="../../img/pinggu_sq/002.png"/>&nbsp;&nbsp;社保卡号：<input v-model="idCard" placeholder="edit me" style="border: none;"></p>
				<p class="font1-4 verticlM ML20 MR20 LH3"><img src="../../img/pinggu_sq/003.png"/>&nbsp;&nbsp;地址：<input v-model="adress" placeholder="edit me" style="border: none;"></p>
			</div>
			<div class="xuzhi PT20 colorC">
				<ul class="overflowH">
					<li class="fl width30 PT5"><img class="width100" src="../../img/pinggu_sq/007.png"/></li>
					<li class="fl width40 font1-4 textC">上门评估申请须知</li>
					<li class="fl width30 PT5"><img class="width100" src="../../img/pinggu_sq/008.png"/></li>
				</ul>
				<p class="font1-2 PT10 PL20 PR20">1.请携带身份证、户口本、社保卡至所在街道的社区事务受理中心办理受理业务。</p>
				<p class="font1-2 PT10 PL20 PR20">2.若需绿色通道受理，还需携带6个月内的医院出院小结。</p>
				<p class="font1-2 PT10 PL20 PR20">3.首次申请个人需支付60元，政府补贴180元；复核申请个人需支付240元.</p>
				<p class="yizhi font1-2 PT40 PL20" @click="yuedu"><img class="verticlM" src="../../img/pinggu_sq/005.png" v-if="yizhi"/><img class="verticlM" src="../../img/pinggu_sq/004.png" v-else/> 我已知晓</p>				
				<div class="but radius10P width90 Mauto MT10 textC colorF font1-4" @click="tijiao">
					<img class="verticlM" src="../../img/pinggu_sq/006.png"/> 提 交
				</div>
			</div>
		</div>
		
		<script src="../../js/vue.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/jquery-1.7.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/common.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/pinggu_sq/shenqing.js" type="text/javascript" charset="utf-8"></script>
	</body>
</html>
