/****************样式重置**************************/
html,body,ul,li,ol,dl,dd,dt,p,h1,h2,h3,h4,h5,h6,form,fieldset,legend,img {
    margin: 0;
    padding: 0
}
fieldset,img {
    border: 0
}
img {
    display: block
}
address,caption,cite,code,dfn,th,var {
    font-style: normal;
    font-weight: normal
}
ul,ol {
    list-style: none
}
input {
    padding-top: 0;
    padding-bottom: 0;
    font-family: "SimSun","宋体"
}
input::-moz-focus-inner {
    border: 0;
    padding: 0
}
select,input {
    vertical-align: middle
}
select,input,textarea {
    font-size: 12px;
    margin: 0
}
input[type="text"],input[type="password"],textarea {
    outline-style: none;
    -webkit-appearance: none
}
textarea {
    resize: none
}
table {
    border-collapse: collapse
}
/**************/
body{
	background-color: #f7f7f7;
}

/****************行内显示******************/
.inlineB {
	display: inline-block;
 *display: inline;
	zoom: 1;
}
.inlineBUl li {
	display: inline-block;
 	*display: inline;
	zoom: 1;
} 
.fl {
	float: left;
}
.fr {
	float: right;
}
.textL {
	text-align: left;
}
.textR {
	text-align: right;
}
.textC {
	text-align: center;
}
.blockC {
	margin-left: auto;
	margin-right: auto;
}
.LH60{
	line-height: 60px;
}
/*****************间距***********************/
.Mauto{
	margin: 0 auto;
}
.block {
	display: block;
}
.none {
	display:none;
}
.MT120{
	margin-top: 120px;
}
.ML10{
	margin-left: 10px;
}
.ML30{
	margin-left: 30px;
	}
.MR5{
	margin-right: 5px;
}
.MR30{
	margin-right: 30px;
}
/******************宽度************************/
.withm{
	width: 690px;
}
.width100 {
	width: 100%;
}

