html,body{
	/*height: 100%;*/
	/*overflow: hidden;*/
}
.mmain{
	/*height: 100%;*/
}
header img{
	width: 750px;
}
/*@font-face {
	font-family:"PINGFANG BOLD";
	src: url("../fount/PINGFANG BOLD.TTF");
}
.fir{
	font-family: "PINGFANG BOLD";
}*/
.vid{
	margin: -140px auto 0 auto;
}
.company p,.threestrong p,.fourbig p,.sixbig p,.seven p{
	text-indent:60px;
	font-size: 30px;
	line-height: 50px;
	color: #4f4f4f;
}
.company-h{
	border: solid 1px #ef883c;
	height: 128px;
	margin-bottom: 57px;
}
.company-h-t{
	padding-top: 20px;
	height: 92px;
	margin: 8px;
	background: #ef883c;
}
.company-h-t b{
	font-size:37px ;
	color: #FFFFFF;
	font-weight: bold;
}
.company-h-t span{
	color: #f9c7a2;
	font-size: 17px ;
}

.soyo{
	height: 610px;
	margin-top: 60px;
}
.tenet{
	margin-top: 45px;
	height: 140px;
	border: solid 2px #63c5bf;
	border-radius: 140px 100px 20px 140px;
}
.tenet .fl ,.localize .fl{
	height: 140px;
	width: 140px;
	background: #63c2c5;
	border-radius:50%;
	font-size: 34px;
	color: #FFFFFF;
}
.localize .fl{
	background: #83c563;
}
.tenet .fl p,.localize .fl p{
	margin-top: 25px;
}
.tenet .fr,.localize .fr{
	width: 515px;
	height: 140px;
}
.tenet .fr p:nth-child(1),.localize .fr p:nth-child(1){
	margin-top: 13px;
	font-size: 28px;
	color: #63c2c5;
}
.localize .fr p:nth-child(1){
	color: #83c563;
}
.tenet .fr p:nth-child(2),.localize .fr p:nth-child(2){
	font-size: 25px;
	color: #4f4f4f;
}
.localize{
	margin-top: 45px;
	margin-bottom: 110px;
	height: 140px;
	border: solid 2px #83c563;
	border-radius: 140px 100px 20px 140px;
}
/*******/
.threestrong .round{
	position: relative;
	height: 207px;
	margin-top: 60px;
	margin-bottom: 120px;
}
.round .back{
	position: absolute;
	z-index: -1;
	top:70px;
	left: 60px;
	height: 75px;
	width: 600px;
	background:#afcecf ;
}
.round1,.round2,.round3{
	height: 207px;
	width: 207px;
	border-radius: 50%;
	box-shadow: 0px 0px 15px #888888;
	background:#f7f7f7;
}
.round1 img,.round2 img,.round3 img{
	width: 100%;
	height: 100%;
}
.round2{
	margin: 0 31px;
}
/***series1****/
.series1{
	height: 70px;
	margin: 50px 0px 15px 30px;
	padding-left: 82px;
	background:url(../img/series1.png) no-repeat ;
    background-size: cover;
    font-size: 30px;
    line-height: 65px;
    color:#FFFFFF;
}
.series1-c{
	margin-left: 54px;
	border-left: dashed 3px #c7e3b9;
	overflow: hidden;
}
.series1-c p{
	margin-left: 64px;
	margin-right: 30px;
	font-size: 26px;
	color: #4f4f4f;
	line-height: 50px;
}
.series1-c .fl{
	margin: 28px 0px 56px 53px;
	border: solid 1px #FFFFFF;
	box-shadow: 0px 0px 25px #999999;
}
.series1-c span{
	font-size: 30px;
	color: #4ba91d;
}
.series1-c .dbxm{
	width: 65px;
	height: 60px;
	padding-right: 5px;
	font-size: 25px;
	color: #FFFFFF;
	text-align: right;
	line-height: 30px;
	background: url(../img/rightsquare.png) no-repeat;
	background-size:cover ;
	
}
/*series2*/
.series2{
	height: 70px;
	margin: 0px 0px 15px 30px;
	padding-left: 82px;
	background:url(../img/series2.png) no-repeat ;
    background-size: cover;
    font-size: 30px;
    line-height: 65px;
    color:#FFFFFF;
}
.series2-c{
	margin-left: 54px;
	border-left: dashed 3px #c2e7e3;
	overflow: hidden;
}
.series2-c p{
	margin-left: 64px;
	margin-right: 30px;
	font-size: 26px;
	color: #4f4f4f;
	line-height: 50px;
}
.series2-c .fr{
	margin: 28px 30px 56px 0px;
	border: solid 1px #FFFFFF;
	box-shadow: 0px 0px 25px #999999;
}
.series2-c span{
	font-size: 30px;
	color: #4ba91d;
}
.series2-c .dbxm{
	width: 65px;
	height: 60px;
	padding-left: 5px;
	font-size: 25px;
	color: #FFFFFF;
	line-height: 30px;
	background: url(../img/leftsquare.png) no-repeat;
	background-size:cover ;
	
}
/*series3*/
.series3{
	height: 70px;
	margin: 0px 0px 15px 30px;
	padding-left: 82px;
	background:url(../img/series3.png) no-repeat ;
    background-size: cover;
    font-size: 30px;
    line-height: 65px;
    color:#FFFFFF;
}
.series3-c{
	margin-left: 54px;
	border-left: dashed 3px #e8dfc0;
	overflow: hidden;
}
.series3-c p{
	margin-left: 64px;
	margin-right: 30px;
	font-size: 26px;
	color: #4f4f4f;
	line-height: 50px;
}
.series3-c .fl{
	margin: 28px 0px 56px 53px;
	border: solid 1px #FFFFFF;
	box-shadow: 0px 0px 25px #999999;
}
.series3-c span{
	font-size: 30px;
	color: #4ba91d;
}
.series3-c .dbxm{
	width: 65px;
	height: 60px;
	padding-right: 5px;
	font-size: 25px;
	color: #FFFFFF;
	text-align: right;
	line-height: 30px;
	background: url(../img/rightsquare.png) no-repeat;
	background-size:cover ;
	
}
/*series4*/
.series4{
	height: 70px;
	margin: 0px 0px 15px 30px;
	padding-left: 82px;
	background:url(../img/series4.png) no-repeat ;
    background-size: cover;
    font-size: 30px;
    line-height: 65px;
    color:#FFFFFF;
}
.series4-c{
	margin-left: 54px;
	border-left: dashed 3px #79c8cb;
	overflow: hidden;
}
.series4-c p{
	margin-left: 64px;
	margin-right: 30px;
	font-size: 26px;
	color: #4f4f4f;
	line-height: 50px;
}
.series4-c .fr{
	margin: 28px 30px 56px 0px;
	border: solid 1px #FFFFFF;
	box-shadow: 0px 0px 25px #999999;
}
.series4-c span{
	float: right;
    margin-top: -10px;
    line-height: 40px;
	font-size: 30px;
	color: #4ba91d;
}
.series4-c .dbxm{
	width: 65px;
	height: 60px;
	padding-left: 5px;
	font-size: 25px;
	color: #FFFFFF;
	line-height: 30px;
	background: url(../img/leftsquare.png) no-repeat;
	background-size:cover ;
	
}
.sixbig ul{
	height: 640px;
	padding-top: 10px;
	width: 100%;
}
.sixbig li{
	margin-top:25px ;
	padding: 9px 6px;
	width: 207px;
	height: 232px;
	border-radius: 60px;
	float: left;
}
.sixbig li div{
	width: 207px;
	height: 232px;
	border-radius: 60px;
}
.sixbig li:nth-child(2),.sixbig li:nth-child(5){
	margin: 0 14px;
	margin-top:25px ;
	
}
.sixbig li:nth-child(1){
	background: -webkit-linear-gradient(top,#a5d2ec,#9ca7d5);
	background:-moz-linear-gradient(top,#a5d2ec,#9ca7d5);/*Mozilla*/
	background:-webkit-gradient(linear,50% 0%,50% 100%,from(#a5d2ec),to(#9ca7d5));/*Old gradient for webkit*/
	background:-o-linear-gradient(top,#a5d2ec,#9ca7d5); /*Opera11*/
}
.sixbig li:nth-child(1) div{
	background: -webkit-linear-gradient(top,#54aee1,#4158b3);
	background:-moz-linear-gradient(top,#54aee1,#4158b3);/*Mozilla*/
	background:-webkit-gradient(linear,50% 0%,50% 100%,from(#54aee1),to(#4158b3));/*Old gradient for webkit*/
	background:-o-linear-gradient(top,#54aee1,#4158b3); /*Opera11*/
}
.sixbig li:nth-child(2){
	background: -webkit-linear-gradient(top,#ebc2ad,#d29b9a);
	background:-moz-linear-gradient(top,#ebc2ad,#d29b9a);/*Mozilla*/
	background:-webkit-gradient(linear,50% 0%,50% 100%,from(#ebc2ad),to(#d29b9a));/*Old gradient for webkit*/
	background:-o-linear-gradient(top,#ebc2ad,#d29b9a); /*Opera11*/
}
.sixbig li:nth-child(2) div{
	background: -webkit-linear-gradient(top,#e08f63,#af403d);
	background:-moz-linear-gradient(top,#e08f63,#af403d);/*Mozilla*/
	background:-webkit-gradient(linear,50% 0%,50% 100%,from(#e08f63),to(#af403d));/*Old gradient for webkit*/
	background:-o-linear-gradient(top,#e08f63,#af403d); /*Opera11*/
}
.sixbig li:nth-child(3){
	background: -webkit-linear-gradient(top,#ebc2ad,#d29b9a);
	background:-moz-linear-gradient(top,#ebc2ad,#d29b9a);/*Mozilla*/
	background:-webkit-gradient(linear,50% 0%,50% 100%,from(#b0dacd),to(#9fc6a9));/*Old gradient for webkit*/
	background:-o-linear-gradient(top,#ebc2ad,#d29b9a); /*Opera11*/
}
.sixbig li:nth-child(3) div{
	background: -webkit-linear-gradient(top,#e08f63,#af403d);
	background:-moz-linear-gradient(top,#e08f63,#af403d);/*Mozilla*/
	background:-webkit-gradient(linear,50% 0%,50% 100%,from(#69bda2),to(#48965c));/*Old gradient for webkit*/
	background:-o-linear-gradient(top,#e08f63,#af403d); /*Opera11*/
}
.sixbig li:nth-child(4){
	background: -webkit-linear-gradient(top,#ebc2ad,#d29b9a);
	background:-moz-linear-gradient(top,#ebc2ad,#d29b9a);/*Mozilla*/
	background:-webkit-gradient(linear,50% 0%,50% 100%,from(#e7b9d8),to(#c699bc));/*Old gradient for webkit*/
	background:-o-linear-gradient(top,#ebc2ad,#d29b9a); /*Opera11*/
}
.sixbig li:nth-child(4) div{
	background: -webkit-linear-gradient(top,#e08f63,#af403d);
	background:-moz-linear-gradient(top,#e08f63,#af403d);/*Mozilla*/
	background:-webkit-gradient(linear,50% 0%,50% 100%,from(#d87cb9),to(#953c83));/*Old gradient for webkit*/
	background:-o-linear-gradient(top,#e08f63,#af403d); /*Opera11*/
}
.sixbig li:nth-child(5){
	background: -webkit-linear-gradient(top,#ebc2ad,#d29b9a);
	background:-moz-linear-gradient(top,#ebc2ad,#d29b9a);/*Mozilla*/
	background:-webkit-gradient(linear,50% 0%,50% 100%,from(#e9d7ab),to(#d9b39f));/*Old gradient for webkit*/
	background:-o-linear-gradient(top,#ebc2ad,#d29b9a); /*Opera11*/
}
.sixbig li:nth-child(5) div{
	background: -webkit-linear-gradient(top,#e08f63,#af403d);
	background:-moz-linear-gradient(top,#e08f63,#af403d);/*Mozilla*/
	background:-webkit-gradient(linear,50% 0%,50% 100%,from(#dbb65f),to(#bc7049));/*Old gradient for webkit*/
	background:-o-linear-gradient(top,#e08f63,#af403d); /*Opera11*/
}
.sixbig li:nth-child(6){
	background: -webkit-linear-gradient(top,#ebc2ad,#d29b9a);
	background:-moz-linear-gradient(top,#ebc2ad,#d29b9a);/*Mozilla*/
	background:-webkit-gradient(linear,50% 0%,50% 100%,from(#e7d6a2),to(#dbc09c));/*Old gradient for webkit*/
	background:-o-linear-gradient(top,#ebc2ad,#d29b9a); /*Opera11*/
}
.sixbig li:nth-child(6) div{
	background: -webkit-linear-gradient(top,#e08f63,#af403d);
	background:-moz-linear-gradient(top,#e08f63,#af403d);/*Mozilla*/
	background:-webkit-gradient(linear,50% 0%,50% 100%,from(#d8b54e),to(#bf8a41));/*Old gradient for webkit*/
	background:-o-linear-gradient(top,#e08f63,#af403d); /*Opera11*/
}
.sixbig .con1{
	font-size: 30px;
	color: #FFFFFF;
}
.six-con-1,.six-con-2,.six-con-3,.six-con-4,.six-con-5,.six-con-6{
	font-size: 28px;
	color: #FFFFFF;
	text-align: center;
}
.six-con-1 span,.six-con-2 span,.six-con-3 span,.six-con-4 span,.six-con-5 span,.six-con-6 span{
	font-size: 22px;
	line-height: 25px;
}
.six-con-1 span{
	color: #c3d4f1;
}
.six-con-2 span{
	color: #f1c6c4;
}
.six-con-3 span{
	color: #d0f2dc;
}
.six-con-4 span{
	color: #efcadd;
}
.six-con-5 span{
	color: #efcaac;
}
.six-con-6 span{
	color: #f2e1cc;
}
.innovate{
	color: #FFFFFF;
	font-size: 28px;
	
}
.innovate h3{
	font-size: 32px;
}
.foot1,.foot2,.foot3,.foot4{
	padding: 0 0 0 136px;
	margin-top: 30px;
	line-height: 58px;
}
.foot1{
	margin-top: 60px;
	background: url(../img/foot1.png);
	background-size:cover ;
}
.foot2{
	/*height: 153px;*/
	background: url(../img/foot2.png);
	background-size:cover ;
}
.foot3{
	/*height: 153px;*/
	background: url(../img/foot3.png);
	background-size:cover ;
}
.foot4{
	/*height: 153px;*/
	margin-bottom: 60px;
	background: url(../img/foot4.png);
	background-size:cover ;
}