html{
	width: 100%;
	height: 100%;
}
body{
	width: 100%;
	height: 100%;
	display: -webkit-box;
	-webkit-box-orient:vertical;
}
header{
	height: 65px;
/*	min-width: 1440px;*/
	background: #f76934;
}
.set{
	float: right;
	margin-top: 15px;
	margin-right: 20px;
	width: 183px;
	height: 33px;
	background: #d74914;
	border-radius: 33px;
}
.set li{
	float: left;
}
.set li:nth-child(1),.set li:nth-child(3){
	margin-top: 5px;
	margin-left: 13px;
	width: 23px;
	height: 23px;
	border-radius:50% ;
	background:#f57677 ;
}
.set li:nth-child(2){
	padding-left: 5px;
	padding-right: 8px;
	margin-top: 6px;
	color: #FFFFFF;
	font-size: 14px;
	border-right: solid 1px #f76934;
}
.set li:nth-child(4){
	padding-left: 3px;
	color: #FFFFFF;
	font-size: 14px;
	line-height: 33px;
}
.set li:nth-child(1) img{
	margin-left: 3px;
	margin-top: 4px;
}
.set li:nth-child(3) img{
	margin-left: 5px;
	margin-top: 4px;
}

/**/
.main{
	-webkit-box-flex:1;
	display: -webkit-box;
	/*width: 100%;*/
	/*height: 95%;*/
	/*min-height: 780px;
	min-width: 1440px;*/
	/*background: #ff0000;*/
	/*overflow: hidden;*/
}
.main-left{
	/*height: 100%;*/
	width: 220px;
	/*min-height: 980px;*/
	background: #312d38;
	/*float: left;*/
}

.user{
	height: 220px;
	/*background: #F95E08;*/
	color: #FFFFFF;
}
.name{
	padding-top:23px ;
	margin-bottom: 10px;
	/*padding-left: 75px;*/
	text-align: center;
	font-size: 17px;
}
.card{
	margin: 0 auto;
	width: 50px;
	height: 18px;
	text-align: center;
	font-size: 12px;
	background: -webkit-linear-gradient(left,#f5a134,#f76a34);
	background:-moz-linear-gradient(left,#f5a134,#f76a34);/*Mozilla*/
	background:-webkit-gradient(linear,0 50%,100% 50%,from(#f5a134),to(#f76a34));/*Old gradient for webkit*/
	background:-o-linear-gradient(left,#f5a134,#f76a34); /*Opera11*/
	border-radius: 18px 18px 18px 18px;
}
.coupon{
	margin-top: 35px;
	margin-bottom: 10px;
}
.coupon,.integral{
	padding-left: 50px;
	/*text-align: center;*/
	font-size: 15px;
}
.coupon span,.integral span{
	color:#f76934 ;
}


/**********/
.record{
	/*height: 190px;*/
	/*background: #ffff00;*/
	overflow: hidden;
	color: #FFFFFF;
}
.record-head,.mine-head{
	height: 50px;
	padding-left: 40px;
	font-size: 17px;
	line-height: 50px;
	background: #393542;
}
.record ul li,.mine ul li{
	height: 47px;
	padding-left: 50px;
	line-height: 47px;
	font-size: 15px;
}
.record .hover,.mine .hover{
	background: #f76934;
}


.mine{
	/*min-height: 365px;*/
	/*background: #ff0088;*/
	color: #FFFFFF;
}



/**/
.main-right{
	-webkit-box-flex:2 ;
	/*min-width: 1180px;*/
	/*min-height: 780px;*/
	background: #FFFFFF;
	/*float: left;*/
}
.m-heard{
	overflow: hidden;
}
.theleft,.theright{
	float: left;
	width: 10%;
	height: 68px;
	font-size: 25px;
    line-height: 68px;
    text-align: center;
    color: #FFFFFF;
    background: #666;
}
.themiddle{
	width: 80%;
	height: 68px;
	float: left;
	overflow: hidden;
}
.m-heard ul{
	color: #FFFFFF;
	width: 1700px;
	/*overflow: hidden;*/
}
.m-heard li{
	float: left;
	width: 170px;
	height: 68px;
	line-height: 68px;
	text-align: center;
	font-size: 21px;
	font-weight: bold;
	background: #393542;
}
.m-heard .hover{
	background: #f79d34;
}
.headimg{
	position: absolute;
	top:17px;
	left:77px;
	width: 63px;
	height: 63px;
	border-radius:50% ;
	border: solid 5px #312d38;
	overflow: hidden;
}
.headimg img{
	width: 63px;
	height: 63px;
}

