body {
	background: #fff;
	font-family: "苹方";
}
header {
	background: #698af3;
}
header img {
	height: 1.5rem;
	position: absolute;
	top: 30%;
	left: 10px;
}
nav{
    margin-top: -1px;	
}
nav img {
	width: 100%;
}
section{
	margin-bottom: 1rem;
}
section h1{
	margin: 1rem;
	text-indent: -1rem;
}
section p{
	margin: 0 1rem;
}
section p i{
	font-style: normal;
	color: #ff7800;
}
section p span{
	color: #ff7800;
	font-size: 2rem;
}
.container .tit{
	background: #f6f9fe;
	height: 3.5rem;
	line-height: 3.5rem;
	padding-left: 1rem;
	color: #a5a5a5;
	font-size: 1.1rem;
}
.container .tit img{
    width: 15px;
    margin-left: 1.5rem;	
}
.container ol{
	width: 94%;
    margin: 0 auto;
    height: 20rem;
    overflow: auto;
}
.container ol li{
	font-size: 1.1rem;
	margin: 1.5rem 0;
	color: #666666;
	list-style-type:demical;
}
.container ol li:last-child{
	padding-bottom: 5rem;
}
bottom{
	display: block;
	height: 5rem;
    position: fixed;
    width: 100%;
    bottom: 0;
    text-align: center;
    background: #fff;
}
bottom button{
	outline: none;
	font-family: "苹方";
	width: 90%;
	height: 3.5rem;
	font-size: 1.5rem;
	color: #fff;
	background: #6eb3ff;
	border: 1px solid #6eb3ff;
	box-shadow: 0 0 10px 0px #6eb3ff;
	border-radius: 5px;
}
bottom button img{
    width: 17px;
    margin-right: 7px;
}

